'name': 'Tick-tock'
'scopeName': 'source.ticktock'
'fileTypes': ['tt']
'patterns': [
  # line comments
  {
    'begin': '//'
    'end': '$'
    'name': 'comment.line.ticktock'
  }

  # block comments
  {
    'begin': '/\\*'
    'end': '\\*/'
    'name': 'comment.block.ticktock'
  }

  # integer literals
  {
    'match': '\\b((0x[0-9a-fA-F]+)|(0[0-7]+)|(\\d+([Ee]\\d+)?)|(\\d+[Ee][\-\+]\\d+))\\b'
    'name': 'constant.numeric.integer.ticktock'
  }

  # floating-point literals
  {
    'match': '(\\.\\d+([Ee][\-\+]\\d+)?)\\b|\\b\\d+\\.\\d*(([Ee][\-\+]\\d+)?\\b)?'
    'name': 'constant.numeric.floating-point.ticktock'
  }

  # interpreted string literals/single-quoted
  {
    'begin': "'"
    'end': "'"
    'name': 'string.quoted.single.ticktock'
    'patterns': [{
      'match': '\\\\([0-7]{3}|[abfnrtv\\\\\'"]|x[0-9a-fA-F]{2}|u[0-9a-fA-F]{4}|U[0-9a-fA-F]{8})'
      'name': 'constant.character.escape.ticktock'
    }]
  }

  # interpreted string literals/double-quoted
  {
    'begin': '"'
    'end': '"'
    'name': 'string.quoted.double.ticktock'
    'patterns': [{
      'match': '\\\\([0-7]{3}|[abfnrtv\\\\\'"]|x[0-9a-fA-F]{2}|u[0-9a-fA-F]{4}|U[0-9a-fA-F]{8})'
      'name': 'constant.character.escape.ticktock'
    }]
  }

  # raw string literals
  {
    'begin': '`'
    'end': '`'
    'name': 'string.quoted.raw.ticktock',
  }

  # keywords
  {
    'match': '\\b(actor|class|state|message|let|start|send|set|return|when)\\b'
    'name': 'keyword.ticktock'
  }

  # built-in constants
  {
    'match': '\\b(__initialization__|__initialize__|__empty_list__|nil|false|true|nan|inf|pi|e)\\b'
    'name': 'constant.language.ticktock'
  }

  # built-in functions
  {
    'match': '\\b(__cons__|__eq__|__ne__|__lt__|__le__|__gt__|__ge__|__or__|__xor__|__and__|__lshift__|__rshift__|__urshift__|__add__|__sub__|__mul__|__div__|__mod__|__neg__|__bitwise_not__|__logical_not__|__item__|type|name|size|bool|floor|ceil|trunc|round|sin|cos|tn|arcsin|arccos|arctn|angle|pow|sqrt|exp|ln|lg|abs|is_nan|seed|random|head|tail|num|str|strb|strs|strl|env|time|sleep|exit|in|inln|out|outln|err|errln)\\b'
    'name': 'support.function.builtin.ticktock'
  }

  # variables
  {
    'match': '\\w+'
    'name': 'variable.other.ticktock'
  }

  # operators
  {
    'match': '[:|&=<>+\\-*/%!~\\^]'
    'name': 'keyword.operator.ticktock'
  }

  # delimiters
  {
    'match': '[,;()\\[\\]]'
    'name': 'punctuation.other.ticktock'
  }
]
