'.source.ticktock':
  'editor':
    'commentStart': '// '
    'increaseIndentPattern': '(?x)
      \\b(actor|class|state|message|when)\\b[^;]*$
      | [\\(\\[]\\s*$
      | ^\\s*[\\)\\]]
      | ^\\s*=>
    '
    'decreaseIndentPattern': '(?x)
      ^\\s*;
      | ^\\s*[\\)\\]]
      | ^\\s*=>
    '
