'.source.ticktock':
  'editor':
    'commentStart': '// '
    'increaseIndentPattern': '(?x)
      \\b(actor|state|message)\\b[^;]*$
      | [\\(\\[]\\s*$
      | ^\\s*[\\)\\]]
    '
    'decreaseIndentPattern': '(?x)
      ^\\s*;
      | ^\\s*[\\)\\]]
    '
